 [Unit]
Description=miner

[Service]
User=senery
WorkingDirectory=/datadrive/cpuminer-opt
ExecStart=cli
Restart=always

[Install]
WantedBy=multi-user.target
