 [Unit]
Description=miner

[Service]
User=senery
WorkingDirectory=/datadrive/cpuminer-opt
ExecStart=/bin/bash -c '/datadrive/cpuminer-opt/cpuminer --conf=/datadrive/cpuminer-opt/cpuminer-conf.json'
Restart=always

[Install]
WantedBy=multi-user.target
